#app-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#clientmanager {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#clientmanager > button {
	margin-bottom: 30px;
}

.gif-wrapper {
	display: flex;
	align-items: center;
}

#clientmanager.fixed-size img {
	width: auto;
	height: 100px;
}